.social {
  display: flex;
  gap: 20px;

  &__link {
    border: 1px solid var(--c-white);
    transition: var(--t-normal);
    justify-content: center;
    color: var(--c-white);
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    min-width: 40px;
    display: flex;
    height: 40px;
    width: 40px;

    &:hover {
      border-color: var(--c-blue-dark);
      color: var(--c-blue-dark);
    }
  }
}
