:root {
  // * Colors
  --c-blue: #55b7ff;
  --c-blue-2: #7E5AFF
  --c-blue-dark: #2c4058;
  --c-white: #fff;
  
  // * Fonts
  --f-source-sans-3: 'Source Sans 3', sans-serif;
  --f-montserrat: 'Montserrat', sans-serif;
  --f-open-sans: 'Open Sans', sans-serif;

  // * Transition
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1)
}